/*corpo do site e a fonte */
body{
   max-width: 1440px;
   margin: 45px 50px;
   font-family: Arial, Helvetica, sans-serif;
   border: none;
   width: 800px;
   height: 450px;
   background-color: white;

} /* aqui configuro tamanho e largura do header a parte de cima do site */
header{
    max-width: 900px;
    margin-top: 170px;
    height: 119px;
    width: 700px;
}
/*aqui configuro o h1 tamanho e cor */
header h1{
    font-size: 28px;
    color: #62c1bd;

} /* aqui eu configuro o h2 */
 header h2{
   font-size: 20px;
    color: #bdd647;
 }
 header p{
       color: #a5a5a5;
    font-size: 17px;
 }
/* configuração do bloco esquerdo */
.bloco-esq-dent h2{
   font-size: 22px;
}

 .bloco-esq{
    height: 300px;
    max-width: 1200px;
    max-height: 1197px;
    background-color: #62c1bd;
    width: 350px;
 }

 .bloco-esq:hover{
   background-color: #56a5a1;
   transition: 0.5s all;
 }
 span{
    font-size: 30px;
    color: white;
 } /* apenas aplicado para transparencia na palavra " per month " */
 .bloco-valor{
    color: rgba(255, 255, 255, 0.555);
 } /* botão verde a esquerda */
button{
    text-align: center;
    background-color: #bfdf32;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 65px;

    color: white;
    border-radius: 5px 5px 5px 5px;
    font-size: 17px;
    box-shadow: rgba(17, 17, 17, 0.212) 0.3em 0.5em 0.8em;
}

/* configuração do botão cor e decoration */
a{ 
   text-decoration: none;
   color: white;
}

 /*sobre o bloco a esquerda */
 .bloco-esq-dent{
    margin: 40px 20px;
    text-align: left;
    
 }
 .bloco-dir{
    max-width: 1200px;
    max-height: 1200px;
    background-color: #62c1bd;
    margin: 0px 0px;
    width: 350px;
    height: 300px;

 } 
 .bloco-dir:hover{
   background-color: #56a5a1;
   transition: 0.5s all;

 }

  .bloco-dir-dent{
    margin: 40px 46px;
    text-align: left;
    
  }
 .bloco-dir-dent h2{
    font-size: 23px;
    
 }
 .bloco-dir-dent p{
     text-size-adjust: 10px;
     font-size: 16px;
     color: rgba(255, 255, 255, 0.432);
     
 }

 main{
    display: flex;
    color: white;
    margin: 40px 0px;
 }

